In [562]:
import pandas as pd
import numpy as np
from datetime import datetime

Question 1

Part (a)

In [565]:
#Creating a function that takes in a list and a number
def count_repetition(number_list,num):
    #return the number of times a number is repeated in the list
     return number_list.count(num)
range=[1,1,1,2,3,4,5]
print(count_repetition(range,1))

3

Part (b)

In [567]:
#creating a function called greeting 
def greeting():
    #get the current time by using datetime import
    current_hour = datetime.now().hour
    if current_hour < 12:
        print("Good Morning")
    elif current_hour < 17:
        print("Good Afternoon")
    else:
        print("Good Evening")

greeting()

Good Evening

Part (c)

In [569]:
def loan_repayment(loan_amount, interest_rate, monthly_payment):
    #Initialize variable for months
    months = 0
    #Create a loop to run until the loan amount reaches zero
    while loan_amount > 0:
        #Adding the interest each month before taking away the monthly payment
        loan_amount += loan_amount * (monthly_interest_rate / 100) 
        loan_amount -= monthly_payment  
        #Increase the months by 1 after the payment
        months += 1
        if loan_amount <= 0:
            break
    return months
print(loan_repayment_duration(5000, 1, 100))

70

Question 2

In [571]:
sales=pd.read_excel('sales.xlsx')
sales.head()

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,product_name.1,Unit Price,quantity,discount,shipping_cost,order_priority,sales,expenses,revenue,year
0,AG-2011-2040,2011-01-01,2011-01-06,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,Blue,211,2,0.0,35.46,Medium,422,397.9902,457.46,2011
1,IN-2011-47883,2011-01-01,2011-01-08,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,High Speed,129,3,0.1,9.72,Medium,387,311.4774,358.02,2011
2,HU-2011-1220,2011-01-01,2011-01-05,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,Single Width,128,4,0.0,8.17,High,512,452.5479,520.17,2011
3,IT-2011-3647632,2011-01-01,2011-01-05,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,Premium,177,3,0.5,4.82,High,531,235.1784,270.32,2011
4,CA-2011-1510,2011-01-01,2011-01-08,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Duo Pack,222,5,0.1,4.70,Medium,1110,873.2190,1003.70,2088

In [572]:
sales.info()
#order date and ship date are already datetime format and therefore do not need to be converted

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51318 entries, 0 to 51317
Data columns (total 24 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   order_id        51297 non-null  object
 1   order_date      51318 non-null  datetime64[ns]
 2   ship_date       51318 non-null  datetime64[ns]
 3   ship_mode       51318 non-null  object
 4   customer_name   51318 non-null  object
 5   segment         51318 non-null  object
 6   state           51318 non-null  object
 7   country         51318 non-null  object
 8   market          51318 non-null  object
 9   region          51318 non-null  object
 10  product_id      51297 non-null  object
 11  category        51318 non-null  object
 12  sub_category    51318 non-null  object
 13  product_name    51318 non-null  object
 14  product_name.1  43540 non-null  object
 15  Unit Price      51318 non-null  int64
 16  quantity        51318 non-null  int64
 17  discount        51318 non-null  float64
 18  shipping_cost   51318 non-null  float64
 19  order_priority  51318 non-null  object
 20  sales           51318 non-null  int64
 21  expenses        51318 non-null  float64
 22  revenue         51318 non-null  float64
 23  year            51318 non-null  int64
dtypes: datetime64[ns](2), float64(4), int64(4), object(14)
memory usage: 9.4+ MB

Part (a)

In [574]:
#Set the country and order date column as indexes without dropping them as usable columns, and using inplace as true so as to not take up more memory
#Sort the data to use index slicing to obtain the product names
sales.set_index(['country', 'order_date'],drop=False, inplace=True)
sales = sales.sort_index(level=['country', 'order_date']) 
idx = pd.IndexSlice
#using unique() will provide values that are not repeated
print(sales.loc[idx['Australia', '2011-02-01':'2011-02-28'], :]['product_name'].unique())

['Rubbermaid Light Bulb' 'Deflect-O Stacking Tray' 'Cisco Signal Booster'
 'Tenex Lockers' 'Fiskars Trimmer' 'Avery Index Tab' 'Panasonic Printer'
 'Office Star Swivel Stool' 'Novimex Swivel Stool' 'Cisco Audio Dock'
 'SanDisk Parchment Paper' 'Elite Letter Opener'
 'Novimex Removable Labels' 'Eldon File Cart' 'Apple Office Telephone'
 'Novimex Round Labels' 'BIC Pencil Sharpener']

Part (b)

In [576]:
# Set order date and revnue as indexes and sort them inplace. Since the revenue column is not dropped it can be used to find the mean
# The Revenue column in the given dataset has a space after the word and it is why there is a space before the quotation is closed
sales.set_index(['order_date', 'revenue '],drop=False, inplace=True)
sales.sort_index(inplace=True)
sales_in_March_June = sales.loc['2014-03-04':'2014-06-26']
print("Mean revenue of the orders placed between 4th March and 26th June is:",sales_in_March_June['revenue '].mean() )

Mean revenue of the orders placed between 4th March and 26th June is: 715.8658956628478

Part (c)

In [578]:
#Setting the order priority and product name as the indexes and then using the xs() function to take the rows which are 'Critical'
sales.set_index(['order_priority', 'product_name'],drop=False, inplace=True)
sales.sort_index(inplace=True)
#After extracting the critical columns sort the values in descending order by revenue
critical_sales = sales.xs('Critical', level='order_priority').sort_values(by='revenue ', ascending =False)
highest_revenue_products = critical_sales[critical_sales['revenue '] == critical_sales['revenue '].iloc[0]]
# Getting the product name without repetition
print("Product with the highest revenue and Critical priority:", highest_revenue_products['product_name'].unique())

Product with the highest revenue and Critical priority: ['Rogers Shelving']

Part(d)

In [580]:
#Set year and country as index
sales.set_index(['year', 'country'],drop=False, inplace=True)
sales.sort_index(inplace=True)
#Using the xs function extract country rows of 2012, group the revenues by country and then find the sum of the revenue
country_revenue_2012 = sales.xs(2012, level='year')['revenue '].groupby('country').sum()
#Extract the country with the highest revenue
print("The country with the highest total revenue in 2012 is:",country_revenue_2012.idxmax())

The country with the highest total revenue in 2012 is: United States

Part (e)

In [582]:
# Set category and year as the index
sales.set_index(['category', 'year'], inplace=True)
sales.sort_index(inplace=True)
#Extract the rows where the category is office supplies
office_supplies = sales.xs('OFFICE SUPPLIES',level='category')
# Find the median of the unit price of the extracted rows
print("The median unit price of products in the 'Office Supplies' category across all years is:",office_supplies['Unit Price'].median())

The median unit price of products in the 'Office Supplies' category across all years is: 238.0

Part (f)

In [584]:
#Since hierarchial indexing doesnt have to be used, multiple indexes were not set
#Find the rows where the order date is in 2013
sales_2013 = sales[sales['order_date'].dt.year == 2013]
# Find the number of days between the order date and the ship date and then find the average
average_days_to_ship = (sales_2013['ship_date'] - sales_2013['order_date']).dt.days.mean()
print("The average number of days between order date and ship date for orders placed in 2013 is:",average_days_to_ship)

The average number of days between order date and ship date for orders placed in 2013 is: 3.9815928690484816

Question 3

In [586]:
#Since the data in the excel file is split into many sheets but all of them have certain data in common which are Region,Area,Date,Offenses and Monetary Amounts
# Using those as columns the below function split the data from each sheet into two dataframes, one for offense counts and the other for monetary amount
# two dataframes are created as the two different datas are in different parts of the same sheet
# The four parameters after sheet name are the rows in which the data starts and ends to avoid getting the rows of sum and avoiding the offense counts to have values from the monetary table
def load_offenses_and_monetary(sheet_name, offenses_skip, offenses_end, monetary_skip, monetary_end):
    offenses_df = pd.read_excel('PoliceData1jan2009to30jun2019.xlsx',sheet_name=sheet_name,skiprows=offenses_skip,nrows=offenses_end-offenses_skip)
    #Setting the first two columns as the Region and Area headings
    offenses_df.columns.values[0:2] = ['Region', 'Area']
    #Splitting the data by setting the Region and Area as index adn then using the stack function to split the data into according to the dates and offenses
    offenses_df = offenses_df.set_index(['Region', 'Area']).stack().reset_index()
    offenses_df.columns = ['Region', 'Area', 'Date', 'Offenses Count'] 
    #Doing the same as above for the monetary amount
    monetary_df = pd.read_excel('PoliceData1jan2009to30jun2019.xlsx',sheet_name=sheet_name,skiprows=monetary_skip,nrows=monetary_end-monetary_skip)
    monetary_df.columns.values[0:2] = ['Region', 'Area']
    monetary_df = monetary_df.set_index(['Region', 'Area']).stack().reset_index()
    monetary_df.columns = ['Region', 'Area', 'Date', 'Monetary Amount']
    #Combining both dataframes making sure the region, area and date are the same to ensure the data is correspoding to the other values adn not just random
    combined_df = pd.merge(offenses_df, monetary_df, on=['Region', 'Area', 'Date'], how='left')

    #Since the stack function converts the row of data to the column, some blocks contain 'total' as the value. The below code sets those values to NA and then removes it.
    combined_df['Date'] = np.where(combined_df['Date'].str.contains('Total', case=False, na=False), pd.NA, combined_df['Date'])
    combined_df.dropna(subset=['Date'], inplace=True)  
    
    return combined_df

In [587]:
#getting the data from red light sheet
red_light_df=load_offenses_and_monetary('Red Light',2,55,57,110)
red_light_df['Offense']='Red Light'
red_light_df.head()

,Region,Area,Date,Offenses Count,Monetary Amount,Offense
0,Auckland,Auckland Central Area,2009-01-01 00:00:00,78,11700,Red Light
1,Auckland,Auckland Central Area,2009-01-01 00:00:00,78,82650,Red Light
2,Auckland,Auckland Central Area,2009-02-01 00:00:00,105,15750,Red Light
3,Auckland,Auckland Central Area,2009-02-01 00:00:00,105,2700,Red Light
4,Auckland,Auckland Central Area,2009-03-01 00:00:00,123,18450,Red Light

In [588]:
#getting the data from restraints sheet
restraints_df=load_offenses_and_monetary('Restraints',2,43,45,86)
restraints_df['Offense']='Restraint'
restraints_df.head()

,Region,Area,Date,Offenses Count,Monetary Amount,Offense
0,Auckland,Auckland Central Area,2009-01-01 00:00:00,113.0,16950,Restraint
1,Auckland,Auckland Central Area,2009-02-01 00:00:00,55.0,8250,Restraint
2,Auckland,Auckland Central Area,2009-03-01 00:00:00,120.0,18000,Restraint
3,Auckland,Auckland Central Area,2009-04-01 00:00:00,91.0,13650,Restraint
4,Auckland,Auckland Central Area,2009-05-01 00:00:00,87.0,13050,Restraint

In [589]:
#getting the data from alcohol sheet
alcohol_df=load_offenses_and_monetary('Alcohol & Drugs',2,43,88,129)
alcohol_df['Offense']='Alcohol'
alcohol_df.head()
# Since the drug offense does not contain a monetary amount according to the contents, its not being considered for this table

,Region,Area,Date,Offenses Count,Monetary Amount,Offense
0,Auckland,Auckland Central Area,2009-01-01 00:00:00,97.0,NaN,Alcohol
1,Auckland,Auckland Central Area,2009-02-01 00:00:00,45.0,NaN,Alcohol
2,Auckland,Auckland Central Area,2009-03-01 00:00:00,114.0,NaN,Alcohol
3,Auckland,Auckland Central Area,2009-04-01 00:00:00,123.0,NaN,Alcohol
4,Auckland,Auckland Central Area,2009-05-01 00:00:00,115.0,NaN,Alcohol

In [590]:
#getting the data from mobile phone sheet
mobile_phone_df=load_offenses_and_monetary('Mobile phone',2,43,45,85)
mobile_phone_df['Offense']='Mobile Phone'
mobile_phone_df.head()

,Region,Area,Date,Offenses Count,Monetary Amount,Offense
0,Auckland,Auckland Central Area,2009-11-01 00:00:00,65.0,5200.0,Mobile Phone
1,Auckland,Auckland Central Area,2009-12-01 00:00:00,37.0,3030.0,Mobile Phone
3,Auckland,Auckland Central Area,2010-01-01 00:00:00,38.0,3040.0,Mobile Phone
4,Auckland,Auckland Central Area,2010-02-01 00:00:00,94.0,7520.0,Mobile Phone
5,Auckland,Auckland Central Area,2010-03-01 00:00:00,81.0,6470.0,Mobile Phone

In [591]:
#getting the data from mobile speed camera sheet
mobile_speed_df=load_offenses_and_monetary('Mobile Speed Camera',2,42,48,88)

In [592]:
#getting the data from static speed camera sheet
static_speed_df=load_offenses_and_monetary('Static Speed Camera',3,111,117,225)

In [593]:
#getting the data from officer speed  sheet
officer_speed_df=load_offenses_and_monetary('Officer-issued Speed',2,42,48,88)

In [594]:
#Combining the above dfs since they are all under the offense of speeding
speeding_df=pd.concat([mobile_speed_df, officer_speed_df,static_speed_df], ignore_index=True)
speeding_df['Offense']='Speeding'
speeding_df.head()

,Region,Area,Date,Offenses Count,Monetary Amount,Offense
0,Auckland,Auckland Central Area,2009-05-01 00:00:00,1.0,30.0,Speeding
1,Auckland,Auckland Central Area,2009-07-01 00:00:00,32.0,1350.0,Speeding
2,Auckland,Auckland Central Area,2009-08-01 00:00:00,34.0,1560.0,Speeding
3,Auckland,Auckland Central Area,2009-09-01 00:00:00,25.0,1650.0,Speeding
4,Auckland,Auckland Central Area,2009-10-01 00:00:00,3.0,240.0,Speeding

In [595]:
#getting the data from Police speeding sheet
police_speed_df=load_offenses_and_monetary('Police Speeding',2,42,45,85)
police_speed_df['Offense']='Police Speeding'
police_speed_df.head()

,Region,Area,Date,Offenses Count,Monetary Amount,Offense
0,Auckland,Auckland Central,2010-08-01 00:00:00,1.0,120.0,Police Speeding
1,Auckland,Auckland Central,2010-09-01 00:00:00,1.0,80.0,Police Speeding
2,Auckland,Auckland Central,2010-10-01 00:00:00,4.0,320.0,Police Speeding
4,Auckland,Auckland Central,2011-10-01 00:00:00,2.0,60.0,Police Speeding
5,Auckland,Auckland Central,2011-11-01 00:00:00,2.0,160.0,Police Speeding

In [596]:
#Combining all the dfs to create the final dataset
final_df_police_data = pd.concat([red_light_df, restraints_df,alcohol_df,speeding_df,police_speed_df], ignore_index=True)
final_df_police_data=final_df_police_data.drop_duplicates()
final_df_police_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 35268 entries, 0 to 35310
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Region           34604 non-null  object
 1   Area             34982 non-null  object
 2   Date             35268 non-null  object
 3   Offenses Count   35268 non-null  object
 4   Monetary Amount  32646 non-null  object
 5   Offense          35268 non-null  object
dtypes: object(6)
memory usage: 1.9+ MB

In [597]:
#Converting all the columns to the right data type
final_df_police_data['Date'] = pd.to_datetime(final_df_police_data['Date'], errors='coerce')
final_df_police_data[['Offenses Count', 'Monetary Amount']] = final_df_police_data[['Offenses Count', 'Monetary Amount']].apply(pd.to_numeric, errors='coerce')
final_df_police_data[['Region','Offense']] = final_df_police_data[['Region','Offense']].astype('category')

In [598]:
final_df_police_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 35268 entries, 0 to 35310
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Region           34604 non-null  category
 1   Area             34982 non-null  object
 2   Date             34969 non-null  datetime64[ns]
 3   Offenses Count   34832 non-null  float64
 4   Monetary Amount  32509 non-null  float64
 5   Offense          35268 non-null  category
dtypes: category(2), datetime64[ns](1), float64(2), object(1)
memory usage: 1.4+ MB

In [599]:
#Making sure there are no rows with missing values and removing the rows which show the sum of data
final_df_police_data.isna().sum()
final_df_police_data = final_df_police_data[final_df_police_data['Area'] != 'New Zealand']
final_df_police_data=final_df_police_data.dropna()

In [600]:
# Using the same logic to take data from the fleeing driver sheet to create another dataset
#Since they dont have a monetary amount, that dataframe is not required
def fleeing_drivers(sheet_name, offenses_skip, offenses_end):
    offenses_df = pd.read_excel('PoliceData1jan2009to30jun2019.xlsx',sheet_name=sheet_name,skiprows=offenses_skip,nrows=offenses_end-offenses_skip)
    offenses_df.columns.values[0:2] = ['Region', 'Area']
    offenses_df = offenses_df.set_index(['Region', 'Area']).stack().reset_index()
    offenses_df.columns = ['Region', 'Area', 'Date', 'Count']
    offenses_df.dropna(subset=['Count'], inplace=True)
    
    offenses_df['Date'] = np.where(offenses_df['Date'].str.contains('Total', case=False, na=False), pd.NA, offenses_df['Date'])
    offenses_df.dropna(subset=['Date'], inplace=True)
    
    return offenses_df

In [601]:
#Gathering data from each table in the sheet and assigning apprpriate categories
fleeing_district_df=fleeing_drivers('Fleeing Drivers',2,16)
fleeing_district_df['Offense']='Fleeing'
fleeing_df=fleeing_drivers('Fleeing Drivers',19,58)
fleeing_df['Offense']='Fleeing'
Pursuit_district_df=fleeing_drivers('Fleeing Drivers',61,75)
Pursuit_district_df['Offense']='Pursuit abandonment'
pursuit_df=fleeing_drivers('Fleeing Drivers',78,117)
pursuit_df['Offense']='Pursuit abandonment'
crashes_district_df=fleeing_drivers('Fleeing Drivers',120,134)
crashes_district_df['Offense']='Crashes'
crashes_df=fleeing_drivers('Fleeing Drivers',137,176)
crashes_df['Offense']='Crashes'
death_district_df=fleeing_drivers('Fleeing Drivers',179,193)
death_district_df['Offense']='Death'
death_df=fleeing_drivers('Fleeing Drivers',196,235)
death_df['Offense']='Death'
injury_district_df=fleeing_drivers('Fleeing Drivers',238,252)
injury_district_df['Offense']='Serious Injury'
injury_df=fleeing_drivers('Fleeing Drivers',255,294)
injury_df['Offense']='Serious Injury'

In [602]:
#Combining the dataframes
fleeing_df_police_data = pd.concat([fleeing_district_df, fleeing_df,Pursuit_district_df,pursuit_df,crashes_district_df,crashes_df,death_district_df,death_df,injury_district_df,injury_district_df], ignore_index=True)
fleeing_df_police_data=fleeing_df_police_data.drop_duplicates()
fleeing_df_police_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 27125 entries, 0 to 27341
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Region   27125 non-null  object
 1   Area     18648 non-null  object
 2   Date     27125 non-null  object
 3   Count    27125 non-null  int64
 4   Offense  27125 non-null  object
dtypes: int64(1), object(4)
memory usage: 1.2+ MB

In [603]:
#Setting the data types accordingly
fleeing_df_police_data['Date'] = pd.to_datetime(fleeing_df_police_data['Date'], errors='coerce')
fleeing_df_police_data['Count'] = fleeing_df_police_data['Count'].apply(pd.to_numeric, errors='coerce')
fleeing_df_police_data[['Region','Offense']] = fleeing_df_police_data[['Region','Offense']].astype('category')
fleeing_df_police_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 27125 entries, 0 to 27341
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Region   27125 non-null  category
 1   Area     18648 non-null  object
 2   Date     27125 non-null  datetime64[ns]
 3   Count    27125 non-null  int64
 4   Offense  27125 non-null  category
dtypes: category(2), datetime64[ns](1), int64(1), object(1)
memory usage: 901.5+ KB

In [604]:
#Saving the files to csv format and changing the date format to show only the year and the month in the csv file
final_df_police_data.to_csv('Updated_police_data.csv',date_format='%Y-%m', index=False)
fleeing_df_police_data.to_csv('Fleeing_Drivers.csv',date_format='%Y-%m',index=False)