 Data Cleaning

Part (a)

In [9]:
#reading in the data to the python notebvook
import pandas as pd
weather=pd.read_csv('weather.csv',header=9)
#show the first few table of data
weather.head()

C:\Users\vivie\AppData\Local\Temp\ipykernel_14936\4016642839.py:3: DtypeWarning: Columns (6,7,8,9) have mixed types. Specify dtype option on import or set low_memory=False.
  weather=pd.read_csv('weather.csv',header=9)

   wsid        date  year  month  day  hr rn  mxt  mnt hmdy  wdsp
0   215  09/08/2007  2007      8    9   0  0  0.0  0.0    0   0.0
1   215  09/08/2007  2007      8    9   1  0  0.0  0.0    0   0.0
2   215  09/08/2007  2007      8    9   2  0  0.0  0.0    0   0.0
3   215  09/08/2007  2007      8    9   3  0  0.0  0.0    0   0.0
4   215  09/08/2007  2007      8    9   4  0  0.0  0.0    0   0.0

In [10]:
# shows the data types
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 245195 entries, 0 to 245194
Data columns (total 11 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   wsid    245195 non-null  int64
 1   date    245195 non-null  object
 2   year    245195 non-null  int64
 3   month   245195 non-null  int64
 4   day     245195 non-null  int64
 5   hr      245195 non-null  int64
 6   rn      34919 non-null   object
 7   mxt     245193 non-null  object
 8   mnt     245194 non-null  object
 9   hmdy    245192 non-null  object
 10  wdsp    232463 non-null  float64
dtypes: float64(1), int64(5), object(5)
memory usage: 20.6+ MB

In [11]:
#shows the missing values
print(weather.isnull().sum())

wsid          0
date          0
year          0
month         0
day           0
hr            0
rn       210276
mxt           2
mnt           1
hmdy          3
wdsp      12732
dtype: int64

In [12]:
print(weather[9:20].isnull().sum())

wsid     0
date     0
year     0
month    0
day      0
hr       0
rn       8
mxt      0
mnt      0
hmdy     0
wdsp     1
dtype: int64

The Dataset is unorganised. The actual data only starts from row 10 of the csv file. A lot of the column names are vague and there are a lot of missing values in the dataset. the data types are different for a lot of columns and should be corrected.

Part (b) and Part (c)

In [14]:
#removes the unneccessary columns and rows and stores it in a different dataframe
df=weather.iloc[9:,0:10]
df.head()

    wsid        date  year  month  day  hr   rn   mxt   mnt hmdy
9    215  09/08/2007  2007      8    9   9    0   0.0   0.0    0
10   215  09/08/2007  2007      8    9  10  NaN   0.0   0.0   99
11   215  09/08/2007  2007      8    9  11  0.2  15.2  12.8   93
12   215  09/08/2007  2007      8    9  12  NaN  17.1  14.8   83
13   215  09/08/2007  2007      8    9  13    0   0.0   0.0    0

In [15]:
# Find the columns withe missing data
missing_data = df.isna().sum()
print(missing_data[missing_data > 0])

rn      210276
mxt          2
mnt          1
hmdy         3
dtype: int64

In [16]:
#conver the data types from object to numeric
df['rn'] = pd.to_numeric(df['rn'], errors='coerce')
df['mnt'] = pd.to_numeric(df['mnt'], errors='coerce')
df['mxt'] = pd.to_numeric(df['mxt'], errors='coerce')
df['hmdy'] = pd.to_numeric(df['hmdy'], errors='coerce')

In [17]:
# Replace all the missing values with the mean of the value
df['rn'] = df['rn'].fillna(df['rn'].mean())
df['mxt'] = df['mxt'].fillna(df['mxt'].mean())
df['mnt'] = df['mnt'].fillna(df['mnt'].mean())
df['hmdy'] = df['hmdy'].fillna(df['hmdy'].mean())

Part (d)

In [19]:
# Save the updated data into another csv file.
df.to_csv("weather_edit.csv",index=False)

Indexing, Slicing, Filtering

In [21]:
# Read in the data from the new and updated csv file
df=pd.read_csv('weather_edit.csv')
df.head()

   wsid        date  year  month  day  hr        rn   mxt   mnt  hmdy
0   215  09/08/2007  2007      8    9   9  0.000000   0.0   0.0   0.0
1   215  09/08/2007  2007      8    9  10  1.020794   0.0   0.0  99.0
2   215  09/08/2007  2007      8    9  11  0.200000  15.2  12.8  93.0
3   215  09/08/2007  2007      8    9  12  1.020794  17.1  14.8  83.0
4   215  09/08/2007  2007      8    9  13  0.000000   0.0   0.0   0.0

In [22]:
#check the data types to see if it has been changed
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 245186 entries, 0 to 245185
Data columns (total 10 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   wsid    245186 non-null  int64
 1   date    245186 non-null  object
 2   year    245186 non-null  int64
 3   month   245186 non-null  int64
 4   day     245186 non-null  int64
 5   hr      245186 non-null  int64
 6   rn      245186 non-null  float64
 7   mxt     245186 non-null  float64
 8   mnt     245186 non-null  float64
 9   hmdy    245186 non-null  float64
dtypes: float64(4), int64(5), object(1)
memory usage: 18.7+ MB

Part (a)

In [24]:
# To find the hourly minimum temperature at the station 215 on the specific date and hour.
hourly_minimum_temp=df[(df['wsid'] == 215) & (df['date'] == '10/03/2010') &(df['hr'] == 10)]['mnt'].iloc[0]
print('The Hourly minimum temperature at station 215 on 10/03/2010 at 10:00 is', hourly_minimum_temp)

The Hourly minimum temperature at station 215 on 10/03/2010 at 10:00 is 21.3

Part(b)

In [69]:
# Find the rows in which the station number in 215
station_215_data = df[df['wsid'] == 215]
# arrange the data in descending order to find the highest value from the first row easily
sorted_station_215 = station_215_data.sort_values(by='hmdy', ascending=False)
max_humidity_row = sorted_station_215.iloc[0]
print("The highest mean hourly humidity at station 215 was recorded on", max_humidity_row['date'],"at", max_humidity_row['hr'],":00")

The highest mean hourly humidity at station 215 was recorded on 09/01/2013 at 15 :00

Part (c)

In [73]:
# Filter rows where the station number is 621
station_621_data = df[df['wsid'] == 621]
#Find the rows where the humidity is more than 95
high_humidity_rows = station_621_data[station_621_data['hmdy'] > 95]
print("The number of mean hourly humidity values at station 621 that exceed 95 is",high_humidity_rows.shape[0])

The number of mean hourly humidity values at station 621 that exceed 95 is 4957

Part (d)

In [30]:
# Find the station with number 542 on the specifc date and collect all the rainfall and find the sum of it.
total_rainfall_542 = df[(df['wsid'] == 542) & (df['date'] == '13/04/2012')]['rn'].sum()
print('The daily total rainfall at station number 542 on 13/04/2012 is', total_rainfall_542)

The daily total rainfall at station number 542 on 13/04/2012 is 24.499057549629036

Part(e)

In [32]:
# Find the station with the specific number and date and extract the minimum temperature and then use the mean function
december_temp = df[(df['wsid'] == 621) & (df['month']==12) &(df['year']==2013) ]['mnt'].mean()
print('The mean of the non-missing hourly minimum temperatures at station number 621 in December 2013',december_temp)

The mean of the non-missing hourly minimum temperatures at station number 621 in December 2013 24.929798657718116

Part(f)

In [34]:
#Sort the dataframe in descending order on minimum temperature first
descending_Order=df.sort_values(by='mnt', ascending=False)
# Sort the result in ascending order of maximum temperature
ascending_order=descending_Order.sort_values(by='mxt', ascending=True)
print(ascending_order)

        wsid        date  year  month  day  hr        rn    mxt   mnt  hmdy
81421    542  27/12/2007  2007     12   27  14  1.020794  -99.9 -99.9  45.0
50596    215  17/05/2013  2013      5   17  11  0.000000    0.0   0.0   0.0
50595    215  17/05/2013  2013      5   17  10  0.000000    0.0   0.0   0.0
50594    215  17/05/2013  2013      5   17   9  0.000000    0.0   0.0   0.0
50605    215  17/05/2013  2013      5   17  20  0.000000    0.0   0.0   0.0
...      ...         ...   ...    ...  ...  ..       ...    ...   ...   ...
150330   542  06/11/2015  2015     11    6  19  1.020794   39.1  38.0  15.0
150329   542  06/11/2015  2015     11    6  18  1.020794   39.3  37.9  14.0
80357    542  13/11/2007  2007     11   13   7  1.020794  123.1  21.1  65.0
172018   621  27/05/2008  2008      5   27  11  1.020794  522.4  19.1  91.0
20679    215  18/12/2009  2009     12   18   0  1.020794  722.3  20.8  77.0

[245186 rows x 10 columns]

Part(g)

In [36]:
# All values of rainfall when humidity is 100
rainfall_humidity_100=df[df['hmdy']==100]['rn']
print(rainfall_humidity_100)

44        1.000000
45        0.600000
46        1.000000
47        1.000000
48        1.200000
            ...
243710    1.020794
243711    0.200000
243803    0.200000
243804    1.020794
243924    1.020794
Name: rn, Length: 12306, dtype: float64

Part (h)

In [38]:
#print all rows where rainfall is more than 60mm or minimum temp was greater than or equal to 37
print(df[(df['rn'] > 60) | (df['mnt'] >= 37)])

        wsid        date  year  month  day  hr         rn   mxt   mnt  hmdy
127074   542  12/03/2013  2013      3   12  19   1.020794  38.2  37.2  21.0
128454   542  09/05/2013  2013      5    9   7  68.600000  23.3  21.7  95.0
148842   542  05/09/2015  2015      9    5  19   1.020794  38.4  37.4  14.0
149945   542  21/10/2015  2015     10   21  18   1.020794  38.4  37.1  18.0
149946   542  21/10/2015  2015     10   21  19   1.020794  38.4  37.3  19.0
150138   542  29/10/2015  2015     10   29  19   1.020794  37.7  37.0  18.0
150328   542  06/11/2015  2015     11    6  17   1.020794  38.6  37.0  15.0
150329   542  06/11/2015  2015     11    6  18   1.020794  39.3  37.9  14.0
150330   542  06/11/2015  2015     11    6  19   1.020794  39.1  38.0  15.0
150353   542  07/11/2015  2015     11    7  18   1.020794  38.7  37.2  16.0
150354   542  07/11/2015  2015     11    7  19   1.020794  38.3  37.5  17.0
150666   542  20/11/2015  2015     11   20  19   1.020794  37.6  37.0  15.0
150689   542  21/11/2015  2015     11   21  18   1.020794  38.9  37.3  13.0
150690   542  21/11/2015  2015     11   21  19   1.020794  39.0  37.5  14.0
150810   542  26/11/2015  2015     11   26  19   1.020794  38.1  37.1  19.0
150882   542  29/11/2015  2015     11   29  19   1.020794  38.6  37.4  14.0
151097   542  08/12/2015  2015     12    8  18   1.020794  38.4  37.2  15.0
151098   542  08/12/2015  2015     12    8  19   1.020794  38.2  37.1  15.0
151122   542  09/12/2015  2015     12    9  19   1.020794  38.4  37.4  14.0
151123   542  09/12/2015  2015     12    9  20   1.020794  38.3  37.1  17.0
168671   621  09/01/2008  2008      1    9   0  70.200000  25.4  22.2  95.0

Part (i)

In [40]:
#Load in the original dataset to remove rows with missing values and output the remaining
weather=pd.read_csv('weather.csv',header=9)
weather=weather.dropna()
print("The rows with no missing columns are as follows:")
weather

The rows with no missing columns are as follows:

C:\Users\vivie\AppData\Local\Temp\ipykernel_14936\925950956.py:2: DtypeWarning: Columns (6,7,8,9) have mixed types. Specify dtype option on import or set low_memory=False.
  weather=pd.read_csv('weather.csv',header=9)

        wsid        date  year  month  day  hr   rn   mxt   mnt hmdy  wdsp
0        215  09/08/2007  2007      8    9   0    0   0.0   0.0    0   0.0
1        215  09/08/2007  2007      8    9   1    0   0.0   0.0    0   0.0
2        215  09/08/2007  2007      8    9   2    0   0.0   0.0    0   0.0
3        215  09/08/2007  2007      8    9   3    0   0.0   0.0    0   0.0
4        215  09/08/2007  2007      8    9   4    0   0.0   0.0    0   0.0
...      ...         ...   ...    ...  ...  ..  ...   ...   ...  ...   ...
245004   621  23/09/2016  2016      9   23   1  0.2  21.8  21.0   88   0.8
245076   621  26/09/2016  2016      9   26   1  0.2  22.6  22.4   91   0.6
245077   621  26/09/2016  2016      9   26   2  3.6  22.4  21.5   95   2.6
245078   621  26/09/2016  2016      9   26   3  0.6  21.5  20.5   95   1.4
245086   621  26/09/2016  2016      9   26  11  0.2  19.4  19.1   80   1.2

[34165 rows x 11 columns]

Part (j)

In [42]:
# Find the stations where the humidity is 100 and then group the stations according to their rows
humidity = df[df['hmdy'] == 100]
humidity_station = humidity.groupby('wsid').size()
# Find the maximum number of rows a station has and then find the specific station
max_humidity_rows = humidity_station.max()
station_with_highest_humidity = humidity_station[humidity_station ==max_humidity_rows]
print("The station with the highest number of mean hourly humidity values equal to 100 is", station_with_highest_humidity)

The station with the highest number of mean hourly humidity values equal to 100 is wsid
215    12227
dtype: int64